<nav class="navbar bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/contacts">
            <img src="https://static.vecteezy.com/system/resources/previews/014/440/978/original/telephone-directory-icon-design-in-blue-circle-png.png"
                alt="Bootstrap" width="30" height="24">
            <span style="color: #A82400 ; font-weight: bold; font-size: x-large;">Phone Directory</span>
        </a>
    </div>
</nav>