<%- include("includes/head.ejs"); %>

    <body
        style="background-image: url(https://lh3.googleusercontent.com/oXyeqPBOCtj__tADknv4tJ4uipF0YEXoeZ8GCekUqKK0L2nQjczRHLZN-akN7ENwZ8JmEehU7J4gZB-Xd47P8quieQ=s1280-w1280-h800); background-size: cover;">
        <div class="d-flex justify-content-center flex-column align-items-center w-100" style="height: 100vh;">
            <form action="/contacts">
                <button class="btn btn-lg btn-success">Let Gets Started</button>
            </form>
        </div>
    </body>

    </html>